@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=Oleo+Script+Swash+Caps&family=Open+Sans:wght@300&family=Outfit:wght@100&family=Red+Hat+Mono:ital,wght@1,300&family=Rubik:wght@300;400&display=swap');


* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --projetcolor: #04010f;
    --nav-font-weight: bold;
    --h1click-color: #e6471f;

}


h1 {
    color: var(--h1click-color);
    font-size: 25px;
    text-align: center;
    font-family: 'Karla', sans-serif;
}

h2 {
    color: white;
    font-size: 28px;
    margin-bottom: 60px;
    margin-top: 50px;

}

h3 {
    color: white;
    font-size: 45px;
    margin-top: 20px;
    margin-bottom: 40px;
}

p {
    color: rgb(248, 248, 248);
    font-size: 18px;
    font-weight: lighter;
    padding-bottom: 30px;
}

#pastoi {
    border: none;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    height: 30px;
    align-items: center;
}

span {
    color: var(--h1click-color);
    position: fixed;
    z-index: 3;
    right: 0;
}

article {
    padding: 60px 20px 60px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

button {
    padding: 5px;
    background-color: rgba(0, 0, 0, 0);
    color: var(--perroquet);
    border: none;
    font-size: 19px;
    margin-top: 30px;
}

i {
    color: var(--h1click-color);

}

#navmodel {
    display: flex;
    display: none;
}

body {
    /* font-family: "Rubik", sans-serif; */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #393c41;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 100vh;
    /* height: 150vh; */
    animation: slide 15s infinite;

}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 5;
    top: 0;
    right: 0;
    background-color: black;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

a, a:visited{
    text-decoration: none;
    box-shadow: none;
    color: var(--h1click-color);
}



.sidenav a {
    padding-bottom: 20px;
    margin-left: 15px;
    text-decoration: none;
    font-size: 25px;
    display: block;
    transition: 0.3s;
    color: white;
    font-size: 1.2em;
    border-bottom: solid rgba(128, 128, 128, 0.533) 0.02px;
    margin-bottom: 10px;
    font-weight: 600;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;

}



footer {
    display: flex;
    gap: 100px;

    justify-content: center;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 10rem;
}

.reseaux i {
    color: var(--h1click-color);
    font-size: 35px;
}

.home p {
    line-height: 28px;
}

@keyframes slide {
    0% {
        background-image: url(../img/img1.jpg);
    }
    50% {
        background-image: url(../img/img2.jpg);
    }

    100% {
        background-image: url(../img/img1.jpg);
    }

}

.navmodel {
    display: none;
}

/* ----------------------Page about-------------------------------- */


.about p {
    text-align: center;
    font-size: 20px;
    margin-top: 50px;
}

.about {
    display: flex;
    justify-content: center;
    width: auto;
    flex-direction: column;
    align-items: center;
    line-height: 26px;
    letter-spacing: -0.01em;
    font-size: 18px;
    margin-top: 40px;
    inline-size: auto;

}

.centerimg {
    display: flex;
    justify-content: center;
}

.gif {
    height: 160px;
    
    opacity: 0.3;
    fill: #e6471f;
}

.centertext {
    width: 100%;
    margin-top: 30px;
}


/* ------------------------Page formulaire-------------------------------- */

h4 {
    font-weight: 400;
    font-size: 20px;
    color: #9b9b9b;
    line-height: 1.5;
}

.contact h3 {
    margin: 30px 0 2px 0;
}

.contact {
    padding: 0;
}

.mail {
    padding: 40px;
}

.form {
    width: 400px;
    height: 600px;
    background: linear-gradient(0deg, rgba(148, 15, 15, 0), #e6471f9f), linear-gradient(180deg, rgba(36, 34, 34, 0.8), rgba(0, 0, 0, .8));
    border-radius: 8px;
    box-shadow: 0 0 40px -10px #000;
    margin: auto;
    padding: 20px 30px;
    max-width: calc(100vw - 40px);
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    position: relative
}

.from h2 {
    margin: 10px 0;
    padding-bottom: 10px;
    width: 180px;
    color: #78788c;
    border-bottom: 3px solid #78788c;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    font-family: 'Montserrat', sans-serif;
    transition: all .3s;
    border-bottom: 2px solid #bebed2;
}

input:focus {
    border-bottom: 2px solid #78788c
}

label:before {
    content: attr(type);
    display: block;
    margin: 28px 0 0;
    font-size: 14px;
    color: white
}

.send {
    float: right;
    padding: 8px 12px;
    margin: 8px 0 0;
    font-family: 'Montserrat', sans-serif;
    border: 2px solid #78788c;
    background: 0;
    color: #5a5a6e;
    cursor: pointer;
    transition: all .3s;
    margin-top: 80px;
}

.send:hover {
    background: #78788c;
    color: #fff;
}

.phone {
    content: 'Hi';
    position: absolute;
    bottom: -15px;
    right: -20px;
    background: #50505a;
    color: #fff;
    width: 320px;
    padding: 16px 4px 16px 0;
    border-radius: 6px;
    font-size: 13px;
    box-shadow: 10px 10px 40px -14px #000;
}

span {
    margin: 0 5px 0 15px
}
/* -----------------transition---------------------- */

/* transition text*/
[class*="reveal-"] {
    opacity: 0;
    transform: translateY(30px);
}

.reveal-visible {
    opacity: 1;
    transform: translateY(0);
    transition: 1s cubic-bezier(.5, 0, 0, 1);
}

.reveal-2 {
    transition-delay: .4s;
}

.reveal-3 {
    transition-delay: .6s;
}

.reveal-4 {
    transition-delay: .7s;
}

/* transition div projet*/
.projet-1, .projet-3 {
    opacity: 0;
    transform: translateX(300px);
}
.projet-2, .projet-4 {
    opacity: 0;
    transform: translateX(-300px);
}


.projet-visible {
    opacity: 1;
    transform: translateX(0);
    transition: 1s cubic-bezier(.5, 0, 0, 1);
}

.projet-2 {
    transition-delay: .2s;
}

.projet-3 {
    transition-delay: .3s;
}

.projet-4 {
    transition-delay: .4s;
}

/* ----------------------Page projets-------------------------------- */
.works {
    width: 100%;
    padding: 0;
}

.works h2 {
    font-size: 3em;
}

.works p {
    font-size: 1.2em;
}

.float {
    display: flex;
    gap: 2rem;

    margin-bottom: 2rem;
}

.float p {
    padding: 0;
}

[class*="projet-"] {
    padding: 1rem;
    position: sticky;
    z-index: 1;
}

#omnias {
    background: linear-gradient(0deg, #000, #160000), linear-gradient(180deg, rgba(0, 0, 0, .8), rgba(0, 0, 0, .8))
}

#tesla {
    background: linear-gradient(0deg, #000, #0b000e), linear-gradient(180deg, rgba(0, 0, 0, .8), rgba(0, 0, 0, .8));
}

#projet3 {
    background: linear-gradient(0deg, #000, #0a1018), linear-gradient(180deg, rgba(0, 0, 0, .8), rgba(0, 0, 0, .8))
}

#projet4 {
    background: linear-gradient(0deg, #000, #172229), linear-gradient(180deg, #000, #000)
}

.capture {
    display: flex;
    margin: auto;
    width: 80%;

}

[class*="projet-"] .logoomnias {
    background-color: aliceblue;
    border-radius: 50%;
    height: 5rem;
}

.haut {
    padding: 20px;
}

.logotesla {
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

#footerprojet {
    margin: 0;
    padding: 20px;
}



@media screen and (min-width:760px) {

    span {
        display: none;
    }

    #navmodel {
        display: flex;
        width: 40%;
        font-weight: var(--nav-font-weight);
        justify-content: space-between;
        text-decoration: none;
        list-style: none;
    }

    .reseaux {
        margin-top: 10rem;
    }

    /* ABOUT */
    .about {
        overflow: visible;
        line-height: 30px;

    }

    .gif {
        height: 250px;
        width: 350px;
        opacity: 0;
    }

    article {
        padding-top: 100px;
    }

    .nav {
        background-color: b;
        height: 45px;
    }

    /* WORKS */
    [class*="projet-"]{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .capture {
        width: 60%;
    }

    .projet button {
        margin-top: 50px;
    }

}

/* formulaire */

.form{
    width:650px;
    height:600px;
}

/* deskop version */

@media screen and (min-width:992px) {


    article {
        padding-top: 150px;
    }

    .capture {
        display: block;
        margin: auto;
        width: 450px;
        margin-right: 100px;

    }
    .form{
        width:800px;
        height:650px;
    }
    

}